<h1>List of ALL Trips</h1>
<hr>
<% @trips.each do | trip |%>
<ul>
    <li><%= link_to trip.traveler.full_name, traveler_path(trip.traveler) %>'s trip to <%= link_to trip.destination.city_name, trip_path(trip)%></li>
</ul>
<% end %>
<hr>
<%= link_to "Click here to create a new trip" , new_trip_path %>
</br>
</br>
<%= link_to "Click here to return to our home page!", travelers_path%>