<h1>List of Reviews</h1>
<hr>

<% @reviews.each do | review |%>
<ul>
    <li><%= link_to review.title, review_path(review) %></li>
</ul>
<% end %>

<%= link_to "Click here to create a new Review" , new_review_path %>