<h1>Points of Interest</h1>
<hr>
<% @pois.each do | poi |%>
<ul>
    <li><%= link_to poi.name, poi_path(poi) %></li>
</ul>
<% end %>
<hr>
<%= link_to "Click here to create a new Point of Interest" , new_poi_path %>
</br>
</br>
<%= link_to "Click here to return to our home page!", travelers_path%>